.head {
    position: relative;
    min-height: 110vh;
}

.head .container {
    max-width: 98%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

/* Navbar */

header .navbar {
    padding: 27px;
}

.navbar.flex {
    justify-content: space-between;
}

.navbar .logo {
    width: 60px;
}

.navbar button {
    background-color: transparent;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}
