.head {
    position: relative;
    min-height: 110vh;
}

.head .container {
    max-width: 95%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

/* Navbar */

header .navbar {
    padding: 30px;
}

header .navbar .logo {
    width: 75px;
}

.navbar.flex {
    justify-content: space-between;
}