.hero {
    position: relative;
    min-height: 110vh;
}

.hero .background-video,
.hero .background-video video,
.hero::before {
    width: 100%;
    height: 100%;
}

/* Background video */

.hero .background-video {
    position: absolute;
    z-index: -1;
}

.hero .background-video video {
    object-fit: cover;
}

/* Background gradient */

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,11);
    background: linear-gradient(90deg, rgba(0,0,11,1) 3%, rgba(0,0,0,0.08167016806722693) 87%);
    z-index: 1;
}