/* promos */

.promos .container .grid{
    grid-template-rows: 1fr;
}

/* promo */

.promo .logo {
    width: 200px;
}

/* promos text */

.promo .p-primary {
    color: var(--hulu-color);
    font-weight: 700;
    font-size: .8rem;
}

.promo .p-secondary {
    font-size: 1.5rem;
    font-weight: 600;
}

.promo button {
    padding: 10px 100px;
    background-color: var(--hulu-color);
    border-radius: 3px;
    font-weight: 600;
    font-size: .8rem;
}

.promo-trio-basic .logo {
    width: 250px;
}

.promos {
    border: 2px solid yellow;
}

.promos .container {
    border: 2px solid lightcoral;
}