/* promos */

.promos .container {
    position: absolute;
    top: 60%;
    transform: translateY(-55%);
    width: fit-content;
}

/* promo */

.promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    min-width: 300px;
}

.promo .logo {
    width: 200px;
}

/* promos text */

.promo .p-primary {
    color: var(--hulu-color);
    font-weight: 700;
    font-size: .8rem;
}

.promo .p-secondary {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.promo button {
    padding: 12px;
    width: 100%;
    background-color: var(--hulu-color);
    border-radius: 3px;
    font-weight: 600;
    font-size: 1rem;
}

.promo-trio-basic .logo {
    width: 250px;
}

/* Links */

.promos-links {
    padding: 20px;
    grid-column: 1 / span 2;
}

.promos-links ul {
    list-style-type: none;
    text-align: center;
}

.promos-links ul > *:nth-child(1) {
    margin-bottom: 30px;
}

.promos-links ul li a {
    color: #fff;
}