/* top text */

.top-text {
    padding: 100px 100px 50px 100px;
    line-height: 1.8;
    text-align: center;
}

.top-text h1 {
    font-size: 3rem;
    font-weight: 500;
}

/* library */

.card {
    min-height: 450px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    transition: ease;
}

.card img {
    opacity: .7;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.cards .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}


/* card text */

.card-text {
    position: absolute;
    top: 0;
    padding: 20px;
    line-height: 1.6;
}

.card-text p {
    font-size: .7rem;
    font-weight: 400;
    letter-spacing: 1px;
}

/* card effects */

.card:hover {
    outline: 5px solid #676767;
}

.card:hover img {
    opacity: .5;
}