.navbar .flex {
    justify-content: space-between;
}

.navbar .logo {
    width: 60px;
}

.navbar button {
    background-color: transparent;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

