.plans .container {
    max-width: 1100px;
}

/* plan top text */

.plan-top-text {
    text-align: center;
    padding: 50px;
    line-height: 1.7;
    letter-spacing: 1px;
    border-bottom: 1px solid #949E9F;
}

.plan-top-text strong {
    font-weight: bold;
}

/* plan header */

.switch-container {
    margin-top: 20px;
    border: 2px solid red;
    display: flex;
}

.base-plans img {
    width: 2rem;
}

.bundle-save-plan {
    width: 10rem;
}

/* toggle button */

.change-plan-btn #check {
    display: none;
}

.change-plan-btn .switch {
    position: relative;
    background-color: #777;
    width: 60px;
    height: 30px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.change-plan-btn .slider {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    /* transition: all .5s ease-in-out; */
}

#check:checked ~ .switch {
    background-color: var(--hulu-color);
}

#check:checked ~ .switch .slider {
    transform: translateX(30px);
}