.plans .container {
    max-width: 1100px;
}

/* plan top text */

.plan-top-text {
    text-align: center;
    padding: 50px;
    line-height: 1.7;
    letter-spacing: 1px;
    border-bottom: 1px solid #949E9F;
}

.plan-top-text strong {
    font-weight: bold;
}

/* plan header */

.btn-container {
    margin-top: 20px;
    border: 2px solid red;
    display: flex;
}

.base-plans img {
    width: 2rem;
}

.bundle-save-plan {
    width: 10rem;
}