@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Graphik", sans-serif;
    font-weight: 300;
}

:root {
    --hulu-color: #1CE783;
    --small-words: #949E9F;
}

:root {
    --h1-font-size: 3rem;
    --normal-text: 1rem;
    --small-words-font-size: 9px;
}

html, 
body {
    height: 100%;
}

body {
    background-color: #0B0C0F;
    color: #fff;
}

img {
    width: 100%;
}

