@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Open sans", sans-serif;
}

:root {
    --hulu-color: #1CE783;
}

html, 
body {
    height: 100%;
}

body {
    color: #fff;
}

img {
    width: 100%;
}

.hero {
    position: relative;
    min-height: 110vh;
}