/* spotlight */

.spotlight .spotlight-background {
    opacity: .5;
}

.spotlight {
    position: relative;
    color: #fff;
}

.spotlight-content .btns {
    position: absolute;
    top: 30%;
    left: 150px;
    display: flex;
    gap: 15px;
}

.btns .btn button {
    background-color: transparent;
    color: var(--small-words);
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.btns .btn.btn-active button{
    color: #fff;
}

.btns .btn.btn-active {
    border-bottom: 5px solid #fff;
}


/* live-sports, breaking news, biggest events */

.live-sports .live-sports-content,
.breaking-news .breaking-news-content,
.biggest-events .biggest-events-content  {
    position: absolute;
    top: 40%;
    left: 150px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


/* icons */

.icons {
    display: flex;
    gap: 20px;
}

.icons .icon {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}