.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    grid-template-columns: repeat(2, 1fr);
}

.hero .container {
    max-width: 98%;
    width: 100%;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 27px;
}

/* .p-primary {

} */