.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container {
    max-width: 98%;
    width: 100%;
    margin: 0 auto;
    padding: 27px;
}

.p-primary {
    color: var(--hulu-color);
    font-weight: 500;
    font-size: .8rem;
    letter-spacing: 1px;
}