* {
    margin: 0;
    padding: 0;
}

.container {
    border: 2px solid red;
    width: 500px;
    height: 500px;
    position: relative;
}

.box {

}

.box-one {
    background-color: cyan;
    position: absolute;
    z-index: 1;
}

.box-two {
    background-color: yellow;
    position: absolute;
    opacity: .9;
    inset: 0;
}