@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

/* header */

header {
    width: fit-content;
    margin: 30px auto;
}

header .img-container {
    width: 250px;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.header-text h1 {
    text-align: center;
}

.header-text img {
    width: 30px;
}

/* main */

.main .container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 100vh;
    overflow: auto;
}

.container .card {
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    background-color: brown;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.card .pokemon-id {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
}

.card .pokemon-stats {
    display: flex;
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.pokemon-name {
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.type {
    text-transform: capitalize;
}

.filter-container {
    max-width: 300px;
    margin: 0 auto;
}

.filter-container .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}

.filter input {
    flex: 1;
    border-radius: 30px;
    padding: 5px;
    outline: none;
}

.filter img {
    width: 35px;
}