.header .container .navbar.flex {
    justify-content: space-between;
}

nav div {
    display: inherit;
    gap: 30px;
}

nav .language {
    padding: 6px 16px;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
}