* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Netflix sans', sans-serif;
}

body {
    background: #000;
    color: #fff;
}

img {
    width: 100%;
}

/* Navbar */

.header .container .navbar.flex {
    justify-content: space-between;
}

nav div {
    display: inherit;
    gap: 30px;
}

nav .language {
    padding: 6px 16px;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
}

/* Header */

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/netflix-header-background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.header img {
    width: 200px;
}

.header .container {
    padding: 20px;
    /* border: 2px solid magenta; */
    height: 100%;
}

/* Header main content */

.header-content {
    /* border: 2px solid red; */
    height: 90%;
}

.header-content .header-text {
    width: 100%;
    text-align: center;
    line-height: 2;
}

/* Header text */

.header-content .header-text h1{
    font-size: 3rem;
}

.header-content .header-text > *:nth-child(2) {
    font-size: 1.5rem;
}

.header-content .header-text > *:nth-child(3) {
    font-size: 1.25rem;
}

/* Header input */

.header-input {
    /* border: 2px solid blue; */
    width: 59%;
}

.header-input input {
    width: 69%;
    height: 100%;
    border-radius: 5px;
    padding: 0 15px;
    background-color: #171717c3;
    font-weight: bold;
    outline: .1px solid #fff;
    font-size: 1rem;
    color: #fff;
}

.header-input.flex {
    justify-content: space-between;
}

.header-input button {
    padding: 16px 25px;
    font-size: 1.5rem;
    letter-spacing: .5px;
    width: 30%;
}

.header-content.flex {
    flex-direction: column;
}   