* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Netflix sans', sans-serif;
}

:root {
    --btn-background: #E50914;
    --more-color: #6c71ff;
    --input-background: #171717c3;
}

body {
    background: #000;
    color: #fff;
}

img {
    width: 100%;
}

ul li {
    list-style-type: none;
}

/* Navbar */

.header .container .navbar.flex {
    justify-content: space-between;
}

nav div {
    display: inherit;
    gap: 30px;
}

nav .language {
    padding: 6px 16px;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
}

/* Header */

.header {
    width: 100%;
    height: 110vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/netflix-header-background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.header .logo {
    width: 150px;
}

/* Header main content */

.header-content {
    height: 90%;
}

.header-content .header-text {
    width: 100%;
    text-align: center;
    line-height: 2;
}

/* Header text */

.header-content .header-text h1{
    font-size: clamp(1.75rem, 1rem + 3vw, 3rem);
}

.header-content .header-text > *:nth-child(2) {
    font-size: clamp(1.25rem, .7rem + 1vw, 1.75rem);
}

.header-content .header-text > *:nth-child(3) {
    font-size: clamp(1.25rem, .5rem + 1vw, 1.75rem);

}

.header-content.flex {
    flex-direction: column;
}   

/* Sections */

.section {
    padding: 30px;
    border-bottom: 10px solid #333;
}

.section img {
    width: 470px;
}

/* Section 1 ad */

.section-1 .ad {
    width: 90%;
    height: 140px;
    position: absolute;
    top: -65px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    background: radial-gradient(circle, hsla(346, 78%, 30%, 1) 17%, hsla(286, 49%, 18%, 1) 48%, hsla(228, 71%, 17%, 1) 61%, hsla(228, 73%, 12%, 1) 73%, hsla(228, 81%, 8%, 1) 83%);
    line-height: 1.9;
    border-radius: 8px;
}

/* Section 1 ad text */

.ad .ad-text {
    padding: 30px;
}

.ad-text h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

/* Section 1 ad more */

.ad-text .ad-more button {
    padding: 5px 20px 5px 0;
    font-size: 1.1rem;
    background-color: transparent;
    cursor: pointer;
    color: var(--more-color);
    text-decoration: underline;
}

/* Section 1 */

.section-1 {
    position: relative;
}

/* sections text-content */

.section-text h2 {
    font-size: clamp(1rem, 1rem + 2vw, 3rem);
    margin-bottom: 10px;
}

.section-text p {
    font-size: clamp(1rem, .7rem + 1vw, 2rem);
}

/* Frequent questions */

.frequent-questions {
    border-bottom: 10px solid #333;
}

.frequent-questions .container.flex {
    flex-direction: column;
}
 
.frequent-questions .container > p {
    padding: 20px;
    font-size: 1.4rem;
}

.frequent-questions h2 {
    font-size: 3rem;
    padding: 20px;
}

/* Questions */

.question {
    margin-bottom: 8px;
}

.question .question-text {
    margin-bottom: 2px;
    padding: 20px;
    width: 100%;
    background-color: #333;
    cursor: pointer;
}

.question-text p,
.answer {
    font-size: 1.6rem;
}

.question-text i {
    font-size: 3rem;
}

.question-text.flex {
    flex-direction: row;
    justify-content: space-between;
}

.answer {
    opacity: 0;
    height: 0;
    overflow: hidden;
    background-color: #333;
    transition: all .3s ease;
}

.answer.active {
    opacity: 1;
    height: auto;
    padding: 20px;
}

/* Footer */

.footer .container {
    color: #B3B3A8; 
}

.footer .container .footer-links ul li {
    line-height: 2;
}

.footer .container .footer-links ul li a {
    text-decoration: underline;
    font-size: 1rem;
    color: #B3B3A8; 
}

.footer .container p {
    padding: 30px 30px 30px 0;
}

.footer nav select {
    margin-top: 20px;
}

/* tablets */

@media (max-width: 960px) {
    .container {
        /* border: 2px solid red; */
    }

    .section img {
        width: 100%;
    }

    .email-input.flex,
    .section .container.flex{
        flex-direction: column;
    }

    .section-2 .container.flex,
    .section-4 .container.flex {
        flex-direction: column-reverse;
    }
    

    .section-text {
        text-align: center;
    }

    .section-1 .container {
        margin-top: 200px;
    }

    .section-1 .ad {
        top: 0;
        padding: 10px;
    }

    .header .logo {
        width: 100px;
    }
}

/* mobile */

@media (max-width: 655px) {

    .section-1 .ad {
        height: auto;
        margin-top: 20px;
    }

    .section-1 .ad.flex {
        flex-direction: column;
    }

    .section-1 .ad-text {
        padding: 20px;
        margin-top: 15px;
        align-self: flex-start;
    }

    .section-1 .ad-svg {
        position: absolute;
        top: -65px;
        left: 50px;
    }
}