* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Netflix sans', sans-serif;
}

:root {
    --btn-background: #E50914;
    --more-color: #6c71ff;
    --input-background: #171717c3;
}

body {
    background: #000;
    color: #fff;
}

img {
    width: 100%;
}

/* Navbar */

.header .container .navbar.flex {
    justify-content: space-between;
}

nav div {
    display: inherit;
    gap: 30px;
}

nav .language {
    padding: 6px 16px;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
}

/* Header */

.header {
    width: 100%;
    height: 110vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/netflix-header-background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.header img {
    width: 200px;
}

/* Header main content */

.header-content {
    height: 90%;
}

.header-content .header-text {
    width: 100%;
    text-align: center;
    line-height: 2;
}

/* Header text */

.header-content .header-text h1{
    font-size: 3rem;
}

.header-content .header-text > *:nth-child(2) {
    font-size: 1.5rem;
}

.header-content .header-text > *:nth-child(3) {
    font-size: 1.25rem;
}

/* Header input */

.header-input {
    width: 59%;
}

.header-input input {
    width: 69%;
    height: 100%;
    border-radius: 5px;
    padding: 0 15px;
    background-color: var(--input-background);
    font-weight: bold;
    outline: .1px solid #fff;
    font-size: 1rem;
    color: #fff;
}

.header-input.flex {
    justify-content: space-between;
}

.header-input button {
    padding: 16px 25px;
    font-size: 1.5rem;
    letter-spacing: .5px;
    width: 30%;
}

.header-content.flex {
    flex-direction: column;
}   

/* Sections */

.section {
    height: 500px;
}

/* Section 1 ad */

.section-1 .ad {
    width: 90%;
    height: 140px;
    position: absolute;
    top: -65px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    background: radial-gradient(circle, hsla(346, 78%, 30%, 1) 17%, hsla(286, 49%, 18%, 1) 48%, hsla(228, 71%, 17%, 1) 61%, hsla(228, 73%, 12%, 1) 73%, hsla(228, 81%, 8%, 1) 83%);
    line-height: 1.9;
}

/* Section 1 ad text */

.ad .ad-text {
    padding: 30px;
}

.ad-text h3 {
    font-size: 1.2rem;
    font-weight: 500;
}


/* Section 1 ad more */

.ad-text .ad-more button {
    padding: 5px 20px 5px 0;
    font-size: 1.1rem;
    background-color: transparent;
    cursor: pointer;
    color: var(--more-color);
    text-decoration: underline;
}

/* Section 1 */

.section-1 {
    position: relative;
    border: 3px solid red;
    height: 520px;
}

.section-1 .container img {
    width: 470px;
}

/* Section 1 main text */

.section-1 .container .text-content h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.section-1 .container .text-content p {
    font-size: 1.6rem;
}