.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.btn {
    padding: 6px 16px;
    background-color: var(--btn-background);
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

/* Email input */

.email-input {
    width: 59%;
}

.email-input input[type="email"] {
    width: 69%;
    height: 60px;
    border-radius: 5px;
    padding: 0 15px;
    background-color: var(--input-background);
    font-weight: bold;
    outline: .1px solid #fff;
    font-size: 1rem;
    color: #fff;
}

.email-input.flex {
    justify-content: space-between;
}

.email-input button {
    padding: 16px 25px;
    font-size: 1.5rem;
    letter-spacing: .5px;
    width: 30%;
    cursor: pointer;
}