.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.btn {
    padding: 6px 16px;
    background-color: var(--btn-background);
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

/* Email input */

.email-input {
    width: 100%;
    gap: 5px;
}

.email-input input {
    max-width: 420px;
    width: 100%;
    min-height: 55px;
    border-radius: 5px;
    padding-left: 15px;
    background-color: var(--input-background);
    font-weight: bold;
    border: 1px solid #fff;
    outline: none;
    font-size: 1rem;
    color: #fff;
}

.email-input input:focus {
    outline: 1px solid #fff;
}

.email-input button {
    padding: 10px 15px;
    min-height: 55px;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
}